.maincont {
    border: solid black 1px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    margin:20px;
    max-width:1000px;
}
.box1 {
    margin:auto;
    border:solid black 1px;
    background-color:blue;
    padding:20px;
    margin-bottom:5px;
    height:130px;
    width:130px;
    max-width: 130px;
    max-height: 130px;
}
.box2 {
    margin:auto;
    border:solid black 1px;
    background-color:rgb(0, 255, 0);
    padding:20px;
    height:130px;
    width:130px;
    max-width: 130px;
    max-height: 130px;
}
.blues{
    text-align: left;
}
a{
    border:solid black 1px;
    margin-bottom: 5px;
    padding-right:50px;
    padding-left:50px;
    padding-bottom:2px;
    text-decoration: underline;
    margin-left:-25px;
}

ul li {
    list-style-type: none;
    margin-bottom:10px;
}

p {
    margin-right:-50px;
}

